<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="caster_description" params="name parent mass *origin">

    <link name="${name}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <!-- <mesh filename="file://$(find bot_description)/models/meshes/caster.stl"/> -->
          <sphere radius="0.05"/>
        </geometry>
        <material name="black">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <!-- <mesh filename="file://$(find bot_description)/models/meshes/caster.stl"/> -->
          <sphere radius="0.05"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="${mass}"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia
          ixx="${0.4 * mass * 0.05 * 0.05}"
          ixy="0.0"
          ixz="0.0"
          iyy="${0.4 * mass * 0.05 * 0.05}"
          iyz="0.0"
          izz="${0.4 * mass * 0.05 * 0.05}"
        />
      </inertial>
    </link>

    <gazebo reference="${name}">
	    <selfCollide>false</selfCollide>
      <mu1 value="0.001"/>
      <mu2 value="0.001"/>
    </gazebo>

    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}"/>
      <xacro:insert_block name="origin"/>
    </joint>

  </xacro:macro>

</robot>